:root {
    --primary: #002458;

    --secondary1: #808080;
    --secondary2: #627897;

    --success1: #2E70CC;
    --success3: #4F8FE8;

    --info: #C9D8EC;

    --warning1: #E4BE00;
    --warning2: #C9B299;

    --light1: #FFFFFF;
    --light2: #FCFDFF;
    
    --dark: #3F5574;
}